POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password

DB_NAME=kittygram
DEBUG=False
DB_HOST=db
DB_PORT=5432
ALLOWED_HOSTS=localhost,62.84.120.171,0.0.0.0:8000,127.0.0.1,showmethecat.hopto.org,catexcibition.ddns.net
CSRF_TRUSTED_ORIGINS = https://showmethecat.hopto.org,https://catexcibition.ddns.net
SECRET_KEY=secret-production-key